@{
    ViewBag.Title = "Employment";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Employment History</p>

<p>3 years as Cashier/Cart Pusher/Stocker at Walmart</p>
<p>1 1/2 years as Customer Service Manager at Walmart</p>