@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>About the Site</h1>
    <p>The purpose of this website is to demonstrate the ability to create a website.</p>
    
    <p>My name is Kevin Tran, and I am a student at the University of Oklahoma.</p>
</div>