@{
    ViewBag.Title = "Projects";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a list of projects that I have worked on.</p>
<nav>
    <ul>https://github.com/MIS-3033/3033-homework-1-KevinTran98</ul>
    <ul>https://github.com/MIS-3033/3033-homework-2-KevinTran98</ul>
    <ul>https://github.com/MIS-3033/3033-homework-3-KevinTran98</ul>
</nav>