@{
    ViewBag.Title = "Skills";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Some skills that I have that can be useful.</p>
<ol>C#</ol>
<ol>SQL</ol>
<ol>Microsoft Cognitive Services</ol>
<ol>People Management</ol>